.app {
  width: 280px;
  max-height: 600px;
  flex: 1;
  box-shadow: 0 2px 15px #ccc;
  margin: 10px;
  align-items: stretch;
}

.footer {
  align-items: flex-start;
  padding: 5px 10px;
}

.item {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  flex-direction: row;
}

.checkbox {
  margin-right: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="text"] {
  align-self: stretch;
  padding: 3px 5px;
  margin-top: 20px;
}
